<% layout('./layout/template') %>

<div class="row">
    <h1 class="text-center">Edit Campground</h1>

    <div class="col-6 offset-3">
        <form class="needs-validation" action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" id="title" type="text" name="campground[title]" value="<%= campground.title %>" required>
                <div class="valid-feedback">Success!</div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" id="location" type="text" name="campground[location]" value="<%= campground.location %>" required>
                <div class="valid-feedback">Success!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="price">Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" aria-label="Amount (to the nearest dollar)" placeholder="0.00" name="campground[price]" value="<%= campground.price %>" required>
                    <div class="valid-feedback">Success!</div>
                </div>
            </div>
        
            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" id="description" type="text" name="campground[description]" required>
                    <%= campground.description %>
                </textarea>
                <div class="valid-feedback">Success!</div>
            </div>

            <div class="mb-3">
                <label class="form-label" for="image">Upload Images</label>

                <div class="input-group mb-3">
                    <input class="form-control" id="image" type="file" name="image" multiple>
                </div>
            </div>

            <div class="mb-3 overflow-hidden">
                <ul class="overflow-hidden">
                    <% campground.images.forEach((img, i) => { %>
                        <li class="mb-2 overflow-hidden">
                            <div class="form-check-inline float-start">
                                <input id="img-<%= i %>" type="checkbox" name="removeImages[]" value="<%= img.filename %>">
                                <label for="img-<%= i %>">Remove</label>
                            </div>
                            <div>
                                <img class="img-thumbnail" src="<%= img.thumbnail %>" alt="Campground Card">
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </div>
        
            <div class="mb-3">
                <button class="btn btn-info">Update Campground</button>
            </div>
        </form>
        
        <a href="/campgrounds/<%= campground._id %>">Back</a>
    </div>
</div>